<div class="temp-config">

    <div class="header">
        <button class="btn" routerLink=".."> <span class="icon icon-chevron-left"></span> </button>
        <h2 class="font-500 justify-self-center">Configuración</h2>
    </div>
    <div class="body">

        <div class="section">
            <div class="title">
                <h3>CUENTA</h3>
            </div>

            <button class="btn">Planes <span class="icon icon-chevron-right"></span> </button>
            <button class="btn" routerLink="packs_anuncios" >Pack de anuncios <span class="icon icon-chevron-right"></span> </button>
            <button class="btn">Método de pago <span class="icon icon-chevron-right"></span> </button>
            <button class="btn">Cuenta de acceso <span class="icon icon-chevron-right"></span> </button>
            <button class="btn">Información personal <span class="icon icon-chevron-right"></span> </button>
            <button class="btn">Negocio <span class="icon icon-chevron-right"></span> </button>

        </div>

        <div class="section">
            <div class="title">
                <h3>PREFERENCIAS</h3>
            </div>

            <button class="btn">Idioma <span>Español <span class="icon icon-chevron-right"></span></span> </button>
            
            <div>
                <h3>Activar todas las notificaciones</h3>
                <input type="checkbox" class="check-button">
            </div>

            <div>
                <h3>Recibir alertas de mensajes</h3>
                <input type="checkbox" class="check-button">
            </div>

            <div>
                <h3>Alerta 3 días antes sobre mi plan</h3>
                <input type="checkbox" class="check-button">
            </div>

        </div>

        <div class="section">
            <div class="title">
                <h3>LEGALES</h3>
            </div>

            <button class="btn">Políticas de privacidad <span class="icon icon-chevron-right"></span> </button>
            <button class="btn">Términos y condiciones <span class="icon icon-chevron-right"></span> </button>
            <button class="btn">Ayuda al usuario <span class="icon icon-chevron-right"></span> </button>

        </div>  

        <button class="btn btn-block cerrar" (click)="signOut()"> CERRAR SESIÓN</button>

    </div>

</div>