<div class="temp-signup" *ngIf="fase < 2">

    <div class="section-top">
        <img class="fondo" src="../../../assets/img/bg-top.png" alt="">
        <h1>Crear cuenta</h1>

        <div class="subcard-18">
            <h1 >+18</h1>
            <h5>MAYORES DE EDAD</h5>
        </div>
    </div>

    <div class="section-content">

        <!-- ! FASE 1 ======================================== -->
        <div class="fase-1" *ngIf="fase == 0">
            <div>
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input 
                        type="text" 
                        placeholder="Ingresar nombre y apellido"
                        (keyup)="[SoloLetra($event),CanSignUp()]"  
                        [(ngModel)]="usuario.datos.nombre"
                    >
                </div>
        
                <div class="form-group">
                    <label for="">Email</label>
                    <input 
                        type="text" 
                        placeholder="Ingresar email"
                        [(ngModel)]="usuario.datos.correo"
                        (keyup)="CanSignUp()"  
                    >
                </div>
    
                <div class="form-group">
                    <label for="">Número de teléfono</label>
                    <div class="input-group-append">
                        <button (click)="display_telf = true" > {{country_short_name}}  <span style="font-size: 5px;" class="icon icon-chevron-down"></span></button>
                        <input type="text"
                            inputmode="numeric" 
                            pattern="[-+]?[0-9]*[.,]?[0-9]+"
                            placeholder="Ingresar número"
                            [(ngModel)]="usuario.datos.telefono"
                            (keyup)="CanSignUp()" 
                            (keypress)="SoloNumero($event)" 
                            maxlength="14"
                        >
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="">Contraseña</label>
                    <div class="group-input-icon-right">
                        <span class="icon" [ngClass]="viewPass?'icon-eyes':'icon-eyes-close'" (click)="tooglePass(true)" ></span>
                        <input 
                            type="text" 
                            placeholder="Ingresar una contraseña"
                            [type]="viewPass ? 'text' : 'password'"
                            [(ngModel)]="usuario.datos.clave"
                            (keyup)="CanSignUp()"  
                            maxlength="25"
                        >
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="">Confirmar contraseña </label>
                    <div class="group-input-icon-right">
                        <span class="icon" [ngClass]="viewRePass?'icon-eyes':'icon-eyes-close'" (click)="tooglePass(false)" ></span>
                        <input 
                            [type]="viewRePass ? 'text' : 'password'"
                            placeholder="Confirmar contraseña"
                            (keyup)="CanSignUp()"  
                            maxlength="25"
                            [(ngModel)]="rep_clave" 
                        >
                    </div>
                </div>

                <p class="text-error" *ngIf="error==1">Complete y valide todos los campos</p>
                <p class="text-error" *ngIf="error==2">Esta cuenta ya existe.</p>
                <p class="text-error" *ngIf="error==3">La contraseña es menor de 8 caracteres.</p>
                <p class="text-error" *ngIf="error==4">Las contraseñas no coinciden.</p>
                <p class="text-error" *ngIf="error==5">El correo ya está registrado.</p>
    
                <div class="checkbox-group">
                    <input type="checkbox" checked="true" id="session-open">
                    <label for="session-open"> Recordar Contraseña</label>
                </div>
    
                <button 
                    class="btn-primary btn-block" 
                    [ngClass]="canSignUp?'btn-primary':'btn-disable'"
                    (click)="(!loading) && CrearCuenta()"
                >Crear cuenta  <span *ngIf="loading" class="icon icon-loader"></span></button>
    
            </div>
    
            <div class="other-logins">
                <div class="group-line-h">
                    <div class="line-h"> </div>
                    <h3>o crear cuenta con</h3>
                    <div class="line-h"> </div>
                </div>
    
                <div class="group-logins justify-content-center">
                    <button class="btn-type-login" (click)="signUpFacebook()" > <img src="../../../assets/img/Facebook.png" alt="">  </button>
                    <button class="btn-type-login" (click)="signUpGoogle()" > <img src="../../assets/img/Google.png" alt="">  </button>
                    <button class="btn-type-login" (click)="SignUpSms()" > <img src="../../assets/img/Phone.png" alt="">  </button>
                </div>
            </div>
        </div>


        <!-- ! FASE 2 ======================================== -->
        <div class="fase-2" *ngIf="fase == 1">
                <h4 class="align-self-start">Ingresa el código que fue enviado al correo {{usuario.datos.correo}} </h4>

                <div class="grid gap-10">
                    <div class="group-input-code">
                        <input type="text" 
                            inputmode="numeric" 
                            pattern="[-+]?[0-9]*[.,]?[0-9]+" 
                            name="code0" 
                            [(ngModel)]="code_1" 
                            (keyup)="nextInput($event,'code1')" 
                            (keypress)="SoloNumero($event)"  
                            placeholder="Ingresar número" 
                            placeholder="0" maxlength="1"
                        >
                        <input type="text" name="code1" [(ngModel)]="code_2" inputmode="numeric" pattern="[-+]?[0-9]*[.,]?[0-9]+" (keyup)="nextInput($event,'code2')" (keypress)="SoloNumero($event)" placeholder="Ingresar número" placeholder="0" maxlength="1">
                        <input type="text" name="code2" [(ngModel)]="code_3" inputmode="numeric" pattern="[-+]?[0-9]*[.,]?[0-9]+" (keyup)="nextInput($event,'code3')" (keypress)="SoloNumero($event)" placeholder="Ingresar número" placeholder="0" maxlength="1">
                        <input type="text" name="code3" [(ngModel)]="code_4" inputmode="numeric" pattern="[-+]?[0-9]*[.,]?[0-9]+" (keyup)="nextInput($event,'code4')" (keypress)="SoloNumero($event)" placeholder="Ingresar número" placeholder="0" maxlength="1">
                        <input type="text" name="code4" [(ngModel)]="code_5" inputmode="numeric" pattern="[-+]?[0-9]*[.,]?[0-9]+" (keypress)="SoloNumero($event)" placeholder="Ingresar número" placeholder="0" maxlength="1">
                    </div>
                    <p *ngIf="error == 1" class="text-error">El código ingresado no es correcto.</p> 


                    <div class="grid align-items-center" style="grid-auto-flow: column;">
                        <h5>¿No has recibido el código?</h5>
                        <button 
                            [class]="true? 'btn-reenviar':'btn-reenviar-disable'" 
                            (click)="(re_code) && EnviarCodigo()"
                        >Reenviar código <span *ngIf="!re_code">(espere 2min)</span> </button>
                    </div>
                </div>

            <button 
                    class=" btn-block" 
                    [class]="true ? 'btn-primary':'btn-primary'"
                    (click)="VerificarCodigoSMS()"
            >
                Continuar  <span *ngIf="loading" class="icon icon-loader"></span>
            </button>
        </div>

    </div>

</div>

<div class="bg-white grid justify-items-center" *ngIf="fase >=2">
    <div class="section-uno" *ngIf="fase == 2">
        <h1 class="font-500">¡Bienvenido a Ladies vip!</h1>
        <h4>A continuación llenarás tus datos para mostrarte las mejores citas.</h4>
        <button
                class="btn-primary btn-circle"
                (click)="fase = 3"
        ><i class="icon icon-arrow-right"></i></button>
    </div>

    <!-- ! FASE FORMULARIO -->
    <div *ngIf="fase >= 3" class="section-form">

        <div class="bar-progress">
            <div [ngClass]="[fase == 2 ? 'progres-now':'', fase > 2? 'progres-primary':'', fase <2?'progres-prox':'']"></div>
            <div [ngClass]="[fase == 3 ? 'progres-now':'', fase > 3? 'progres-primary':'', fase <3?'progres-prox':'']"></div>
            <div [ngClass]="[fase == 4 ? 'progres-now':'', fase > 4? 'progres-primary':'', fase <4?'progres-prox':'']"></div>
            <div [ngClass]="[fase == 5 ? 'progres-now':'', fase > 5? 'progres-primary':'', fase <5?'progres-prox':'']"></div>
            <div [ngClass]="[fase == 6 ? 'progres-now':'', fase > 6? 'progres-primary':'', fase <6?'progres-prox':'']"></div>
            <div [ngClass]="[fase == 7 ? 'progres-now':'', fase > 7? 'progres-primary':'', fase <7?'progres-prox':'']"></div>
            <div [ngClass]="[fase == 8 ? 'progres-now':'', fase > 8? 'progres-primary':'', fase <8?'progres-prox':'']"></div>
        </div>

        <div class="grid" *ngIf="fase == 3">
            <div class="grid gap-20 align-self-start">
                <h1 class="form-title">¿Cuándo es tu cumpleaños?</h1>

                <div class="form-group">
                    <input type="date" (change)="(VacioU(usuario.fecha))? pass=true:pass=false " [(ngModel)]="usuario.fecha_nac">
                    <p class="text-error" *ngIf="error == 1">llene todos los campos</p>  
                    <p class="text-error" *ngIf="error == 2">tienes {{edad}} años </p>  
                    <p class="text-error" *ngIf="error == 2">Estás tratando de crear una cuenta en LadiesVip con una edad que no está permitida dentro de nuestras políticas de uso. </p>
                </div>
            </div>

            <h5>*Esta información solo servirá para mostrarte a personas potenciales por medio de filtros</h5>
        </div>

        <div class="grid" *ngIf="fase == 4">
            <h1 class="form-title">¿Dónde vives?</h1>

            <div class="form-location">
                <div class="form-group">
                    <label for="">País </label>
                    <button class="btn" (click)="display_pais = true" > {{usuario.locacion.pais}} <span class="icon icon-chevron-down"></span> </button>
                </div>
    
                <div class="form-group">
                    <label for="">Estado </label>
                    <button class="btn" (click)=" (usuario.locacion.pais) && display_estado = true" > {{usuario.locacion.estado}} <span class="icon icon-chevron-down"></span> </button>
   
                </div>
    
                <div class="form-group">
                    <label for="">Ciudad </label>
                    <button class="btn" (click)=" (usuario.locacion.estado) && display_ciudad = true" > {{usuario.locacion.ciudad}} <span class="icon icon-chevron-down"></span> </button>
                </div>
            </div>
            <p class="text-error" *ngIf="error == 1">llene todos los campos</p>

            <h5>*Esta información solo servirá para mostrarte a personas potenciales por medio de filtros</h5>
        </div>

         <!-- ? IDENTIFICACION DE GENERO -->
         <div class="grid" *ngIf="fase == 5">
            <h1 class="form-title">¿Cómo te identificas?</h1>

            <h5 class="font-300">Elige una o más opciones con las que te sientes identificado</h5>

            <div class="group-btn-identidad">
                <button class="btn-genero" (click)="selectIdentidad(0,$event)">Mujer</button>
                <button class="btn-genero" (click)="selectIdentidad(1,$event)">Hombre</button>
                <button class="btn-genero" (click)="selectIdentidad(2,$event)">No binario</button>
                <button class="btn-genero" (click)="selectIdentidad(3,$event)">Pareja</button>
                <button class="btn-genero" (click)="selectIdentidad(4,$event)">Gay</button>
                <button class="btn-genero" (click)="selectIdentidad(5,$event)">Transexual</button>
                <button class="btn-genero" (click)="selectIdentidad(6,$event)">Travestie</button>
                <button class="btn-genero" (click)="selectIdentidad(7,$event)">Lesbiana</button>
                <button class="btn-genero" (click)="selectIdentidad(8,$event)">Otros</button>
            </div>
            <p class="text-error" *ngIf="error == 1">Seleccione al menos una opción</p>

        </div>


        <!-- ? CARGAR FOTO PERFIL -->
        <div class="grid justify-items-center" *ngIf="fase == 6">
            <h1 class="form-title">Sube una foto de perfil</h1>
            <div class="content-circle-img">
                <div class="circle-img" >
                    <img *ngIf="user_imagen_show == null"  src="../../../assets/img/user.png"  alt="">
                    <img [src]="user_imagen_show" alt="">
                </div>
                <button (click)="[CargarImagen()]" class="sub-circle-img">+</button>
            </div>
            <p class="text-error" *ngIf="error == 1">Seleccione una imagen</p>

            <input type="file" id="img"  style="display:none" accept="image/png, image/gif, image/jpeg">
            <h5 class="text-center">Esta foto será visible para <br> todos los usuarios</h5>
        </div>

        <!-- ? IDENTIFICACION DE INTERESES -->
        <div class="grid" *ngIf="fase == 7">
            <h1 class="form-title">¿En que estás interesado?</h1>

            <h5 class="font-300">Elige una, varias opciones o servicios que buscas en Ladies Vip</h5>

            <div class="group-btn-identidad">
                <button class="btn-genero" (click)="selectIdentidad(0,$event)">Mujer</button>
                <button class="btn-genero" (click)="selectIdentidad(1,$event)">Hombre</button>
                <button class="btn-genero" (click)="selectIdentidad(2,$event)">No binario</button>
                <button class="btn-genero" (click)="selectIdentidad(3,$event)">Pareja</button>
                <button class="btn-genero" (click)="selectIdentidad(4,$event)">Gay</button>
                <button class="btn-genero" (click)="selectIdentidad(5,$event)">Transexual</button>
                <button class="btn-genero" (click)="selectIdentidad(6,$event)">Travestie</button>
                <button class="btn-genero" (click)="selectIdentidad(7,$event)">Lesbiana</button>
                <button class="btn-genero" (click)="selectIdentidad(8,$event)">Otros</button>
                <button class="btn btn-genero" (click)="selectServicio(0,$event)">Masajes eróticos</button>
                <button class="btn btn-genero" (click)="selectServicio(1,$event)">Juguetes sexuales</button>
                <button class="btn btn-genero" (click)="selectServicio(2,$event)">Espacios sexuales</button>
                <button class="btn btn-genero" (click)="selectServicio(3,$event)">Agencia matrimonial</button>
                <button class="btn btn-genero" (click)="selectServicio(4,$event)">Otros</button>

            </div>

        </div>

        <!-- ? SERVICIO A OFRECER -->
        <div class="grid" *ngIf="fase == 8">
            <h1 class="form-title">¿Brindas algún servicio?</h1>

            <h5 class="font-300">Elige una o varios servicios a ofrecer en Ladies Vip</h5>

            <div class="group-btn-identidad">
                <button class="btn-genero" (click)="selectServicio(0,$event)">Masajes eróticos</button>
                <button class="btn-genero" (click)="selectServicio(1,$event)">Juguetes sexuales</button>
                <button class="btn-genero" (click)="selectServicio(2,$event)">Espacios sexuales</button>
                <button class="btn-genero" (click)="selectServicio(3,$event)">Agencia matrimonial</button>
                <button class="btn-genero" (click)="selectServicio(4,$event)">Otros</button>
            </div>

        </div>

        <!-- ? GEOLOCALIZACION -->
        <div class="grid justify-items-center" *ngIf="fase == 9">
            <h1 class="form-title">Geolocalización</h1>

            <h1><i style="font-size: 48px;" class="icon icon-location"></i></h1>
            <h5 class="text-center">Selecciona el modo <br> geolocalización para encontrar <br> personas cercanas a ti</h5>
        </div>

        <!-- ? LOAD -->
        <div class="grid justify-items-center align-items-center" *ngIf="fase == 10">
            <img class="icon-loader" src="../../../assets/img/loading.png" alt="">
        </div>

        <div class="grid gap-10 align-content-start justify-self-stretch">
            <button *ngIf="fase == 9" (click)="ActivarGeo()" class="btn-primary btn-block">Activar</button>
            <button *ngIf="fase == 9" (click)="SignUp()" class="btn-secondary btn-block">No por el momento</button>
        </div>
    </div>

    <button
        class="btn-primary btn-circle"
        *ngIf="fase < 9 && fase > 2"
        (click)="CtrlForm()"
        [class]="pass?'btn-primary btn-circle':'btn-disable btn-circle'"
    ><span class="icon icon-arrow-right"></span></button>

    <button *ngIf="fase == 8" class="btn font-600" (click)="fase = 9" >Saltar opción</button>
    
</div>


<!-- ! FILTRO =================================================================== -->

<div class="bg-card fadeIn"  *ngIf="display_telf">
    <div class="card-option onUp" >
        <div class="card-option-header">
            <button class="btn justify-self-end"> <span class="icon"></span> </button>

            <h3 class=" justify-self-center text-center font-600">Seleccionar otro país</h3>

            <button class="btn justify-self-end" (click)="CerrarModal()"> <span class="icon icon-close"></span> </button>
        </div>

        <div class="card-option-search">
            <div class="group-input-icon-left">
                <span class="icon icon-search"></span>
                <input type="text" [(ngModel)]="filtro" (keyup)="filtrar()" placeholder="Buscar">
            </div>
        </div>

        <div class="card-option-body" *ngIf="telf_filtro.length == 0">
            <div class="radio-group" style="justify-content: space-between;" *ngFor="let locacion of locaciones;let i = index">
                <label [for]="i"> {{locacion.country_name}}  ( {{locacion.country_phone_code}} )</label>
                <input (click)="SelectCodeTlf(locacion.country_phone_code, locacion.country_short_name)" [id]="i" name="tlf" type="radio">
            </div>
        </div>

        <div class="card-option-body" *ngIf="telf_filtro.length != 0">
            <div class="radio-group" style="justify-content: space-between;" *ngFor="let locacion of telf_filtro;let i = index">
                <label [for]="i"> {{locacion.country_name}}  ( {{locacion.country_phone_code}} )</label>
                <input (click)="SelectCodeTlf(locacion.country_phone_code, locacion.country_short_name)" [id]="i" name="tlf" type="radio">
            </div>
        </div>

    </div>
</div>

<!-- ? PAIS ============================================== -->
<div class="bg-card fadeIn"  *ngIf="display_pais">
    <div class="card-option onUp" >
        <div class="card-option-header">
            <button class="btn justify-self-end"> <span class="icon"></span> </button>

            <h3 class=" justify-self-center text-center font-600">País</h3>

            <button class="btn justify-self-end" (click)="CerrarModal()"> <span class="icon icon-close"></span> </button>
        </div>

        <div class="card-option-search">
            <div class="group-input-icon-left">
                <span class="icon icon-search"></span>
                <input type="text" [(ngModel)]="filtro" (keyup)="filtrar()" placeholder="Buscar">
            </div>
        </div>

        <div class="card-option-body" *ngIf="pais_filtro.length == 0">
            <div class="radio-group" style="justify-content: space-between;" *ngFor="let locacion of locaciones;let i = index">
                <label [for]="i"> {{locacion.country_name}}</label>
                <input (click)="SelectPais( locacion.country_name)" [id]="i" name="tlf" type="radio">
            </div>
        </div>

        <div class="card-option-body" *ngIf="pais_filtro.length != 0">
            <div class="radio-group" style="justify-content: space-between;" *ngFor="let locacion of pais_filtro;let i = index">
                <label [for]="i"> {{locacion.country_name}} </label>
                <input (click)="SelectPais( locacion.country_name)" [id]="i" name="tlf" type="radio">
            </div>
        </div>

    </div>
</div>


<!-- ? ESTADO ============================================== -->
<div class="bg-card fadeIn"  *ngIf="display_estado">
    <div class="card-option onUp" >
        <div class="card-option-header">
            <button class="btn justify-self-end"> <span class="icon"></span> </button>

            <h3 class=" justify-self-center text-center font-600">Estado</h3>

            <button class="btn justify-self-end" (click)="CerrarModal()"> <span class="icon icon-close"></span> </button>
        </div>

        <div class="card-option-search">
            <div class="group-input-icon-left">
                <span class="icon icon-search"></span>
                <input type="text" [(ngModel)]="filtro" (keyup)="filtrar()" placeholder="Buscar">
            </div>
        </div>
        <div *ngIf="loading" class="loading"></div>
        <div class="card-option-body" *ngIf="estado_filtro.length == 0">
            <div class="radio-group" style="justify-content: space-between;" *ngFor="let estado of estados;let i = index">
                <label [for]="i"> {{estado.state_name}}</label>
                <input (click)="SelectEstado( estado.state_name)" [id]="i" name="tlf" type="radio">
            </div>
        </div>

        <div class="card-option-body" *ngIf="estado_filtro.length != 0">
            <div class="radio-group" style="justify-content: space-between;" *ngFor="let estado of estado_filtro;let i = index">
                <label [for]="i"> {{estado.state_name}} </label>
                <input (click)="SelectEstado( estado.state_name)" [id]="i" name="tlf" type="radio">
            </div>
        </div>

    </div>
</div>


<!-- ? CIUDAD ============================================== -->
<div class="bg-card fadeIn"  *ngIf="display_ciudad">
    <div class="card-option onUp" >
        <div class="card-option-header">
            <button class="btn justify-self-end"> <span class="icon"></span> </button>

            <h3 class=" justify-self-center text-center font-600">Ciudad</h3>

            <button class="btn justify-self-end" (click)="CerrarModal()"> <span class="icon icon-close"></span> </button>
        </div>

        <div class="card-option-search">
            <div class="group-input-icon-left">
                <span class="icon icon-search"></span>
                <input type="text" [(ngModel)]="filtro" (keyup)="filtrar()" placeholder="Buscar">
            </div>
        </div>

        <div *ngIf="loading" class="loading"></div>

        <h2 class="text-center" *ngIf="ciudades.length ==0">No posee, continue a la siguiente fase</h2>
        <div class="card-option-body" *ngIf="ciudad_filtro.length == 0">
            <div class="radio-group" style="justify-content: space-between;" *ngFor="let ciudad of ciudades;let i = index">
                <label [for]="i"> {{ciudad.city_name}}</label>
                <input (click)="SelectCiudad( ciudad.city_name)" [id]="i" name="tlf" type="radio">
            </div>
        </div>

        <div class="card-option-body" *ngIf="ciudad_filtro.length != 0">
            <div class="radio-group" style="justify-content: space-between;" *ngFor="let ciudad of ciudad_filtro;let i = index">
                <label [for]="i"> {{ciudad.city_name}} </label>
                <input (click)="SelectCiudad( ciudad.city_name)" [id]="i" name="tlf" type="radio">
            </div>
        </div>

    </div>
</div>