<div class="temp-anuncio" >
    <button class=" btn btn-back" routerLink=".." > <span class="icon icon-chevron-left"></span> </button>
    <div class="section-photo" >
        <img #images  [src]="url+urls" *ngFor="let urls of urls_image.slice().reverse(); let i = index" alt="">

        <div class="points-group">
            <!-- <div class="point-active"></div> -->
            <div [id]="i" [ngClass]="point_img == i? 'point-active':'point'" *ngFor="let urls of urls_image; let i = index"></div>
        </div>
    </div>
    <div class="section-body">
        <div class="content">
            <div class="top">
                <button (click)="cardDiss()"> <img src="../../../assets/img/anuncio_close.svg" alt=""> </button>
                <button (click)="cardFav()"> <img src="../../../assets/img/anuncio_start.svg" alt=""> </button>
                <button (click)="cardCheck()" > <img src="../../../assets/img/anuncio_check.svg" alt=""> </button>
            </div>

            <div class="body">
                <h1 class="font-600 nombre"> {{anuncio.usuario.name}}</h1>

                <h2 class="text-alert">23 años • {{anuncio.usuario.estado}},{{anuncio.usuario.pais}}</h2>

                <h3> <span class="icon icon-mail"></span> {{anuncio.usuario.email}}  </h3>
                <h3> <span class="icon icon-phone"></span> +{{anuncio.usuario.code_phone}} {{anuncio.usuario.telefono}} </h3>

                <div class="flex-column">
                    <h3> <span class="icon icon-brujula"></span> Busco: </h3> 
                    <span>pareja</span>
                    <!-- <button class="btn-disable" *ngFor="let item of intereses_name" >
                        {{item}}
                    </button> -->
                </div>

                <p>
                    {{anuncio.descripcion}}
                </p>
                
                <div class="group-contact">
                    <button (click)="GoToCall()" > <img src="../../../assets/img/cont_phone.png" alt=""> </button>
                    <button *ngIf="anuncio.hab_wts" (click)="GoToBrowser()" > <img src="../../../assets/img/cont_wts.png" alt=""> </button>
                    <button *ngIf="anuncio.hab_chat" > <img src="../../../assets/img/cont_sms.png" alt=""> </button>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="container alert" *ngIf="alert == 1">

    <div class="content">
        <button class="btn close" (click)="alert = 0" ><span class="icon icon-close"></span></button>

        <h1>¡Se premium!</h1>

        <h4>Actualmente cuentas con un plan free, para enviar mensajes, pulsa el botón y adquiere un plan</h4>

        <button class="btn premium" routerLink="../config/planes">Ser premium</button>
    </div>

</div>