<div class="temp-cuenta">

    <div class="header">
        <button *ngIf="display_main" class="btn" routerLink=".."> <span class="icon icon-chevron-left"></span> </button>
        <button *ngIf="!display_main" class="btn" (click)="display_clave =false;display_info=false;display_main=true;" > <span class="icon icon-chevron-left"></span> </button>
        <h3 class="font-500 justify-self-center">Cuenta de acceso</h3>
    </div>

    <div class="body">
        
        <div class="section" *ngIf="display_main"  (click)="display_info = true; display_main =false">
            <div class="head">
                <h4>Nombre</h4>
                <button class="btn">Editar</button>
            </div>

            <h3> {{usuario.name}} </h3>

            <div class="form-group">
                <span>Email</span>
                <h3> {{usuario.email}} </h3>
            </div>
    
            <div class="form-group">
                <span>Teléfono</span>
                <h3>+{{usuario.code_phone}} {{usuario.telefono}}</h3>
            </div>
        </div>

        <div class="section" *ngIf="display_main">
            <div class="head">
                <h4>Contraseña</h4>
                <button class="btn" (click)="display_clave = true; display_main =false" >Editar</button>
            </div>
            
            <div class="group-input-icon-right">
                <span class="icon" [ngClass]="viewPass?'icon-eyes':'icon-eyes-close'" (click)="tooglePass()" ></span>
                <input 
                    type="password" 
                    id="password"
                    [(ngModel)]="usuario.clave" 
                    placeholder=""
                    maxlength="25"
                >
            </div>

        </div>  


        <div class="section" *ngIf="display_info">
            <div class="form-group">
                <span>Nombre</span>
                <input type="text" [(ngModel)]="usuario.name">
            </div>

            <div class="form-group">
                <span>Email</span>
                <input type="text" [(ngModel)]="usuario.email">
            </div>

            <div class="form-group">
                <span>Teléfono</span>
                <input type="text" [(ngModel)]="usuario.telefono">
            </div>
        </div>

        <div class="section" *ngIf="display_clave">
            <div class="form-group">
                <span>Contraseña</span>
                <div class="group-input-icon-right">
                    <span class="icon" [ngClass]="viewPass?'icon-eyes':'icon-eyes-close'" (click)="tooglePass()" ></span>
                    <input 
                        type="password" 
                        id="password"
                        [(ngModel)]="usuario.clave" 
                        placeholder=""
                        maxlength="25"
                    >
                </div>
            </div>

            <div class="form-group">
                <span>Confirmar contraseña</span>
                <div class="group-input-icon-right">
                    <span class="icon" [ngClass]="viewPass?'icon-eyes':'icon-eyes-close'" (click)="tooglePass()" ></span>
                    <input 
                        type="password" 
                        id="password"
                        [(ngModel)]="usuario.clave" 
                        placeholder=""
                        maxlength="25"
                    >
                </div>
            </div>

        </div>
        
    </div>

    <div class="footer">
        <button class="btn-primary btn-block" *ngIf="display_main">ELIMINAR CUENTA</button>
        <button class="btn-primary btn-block" *ngIf="display_info">GUARDAR CAMBIOS</button>
        <button class="btn-primary btn-block" *ngIf="display_clave">GUARDAR CAMBIOS</button>
    </div>

</div>
