<div class="temp-landing" >

    <div class="section-top">
        <!-- <img class="fondo" src="../../../assets/img/bg-top-big.png" alt=""> -->
        <button class="btn bg-white font-500 justify-self-end"> <span class="icon icon-world"></span> Español</button>
        <img class="logo" src="../../../assets/img/logo-white.png" alt="">

        <div class="subcard-18">
            <h1 >+18</h1>
            <h5>MAYORES DE EDAD</h5>
        </div>
    </div>

    <div class="section-content">
        <p class="text-center">Al registrarte o iniciar sesión en Ladies VIP estás aceptando continuar de acuerdo a nuestros términos y condiciones y Políticas de privacidad</p>
        
        <div class="grid align-content-center justify-items-center gap-20">
            <button class="btn-primary btn-block" [routerLink]="['/signup']" >Crear cuenta</button>
            <button class="btn-secondary btn-block" [routerLink]="['/login']">Iniciar sesión</button>
        </div>

    </div>
</div>

