.temp-landing{
    display: grid;
    grid-template: 
	"section-top" 50%
    "section-content" auto/
    100%;
    background-color: #fff;
}

.section-top{
    grid-area: section-top;
    position: relative;
    display: grid;
    padding: 10px;
    padding-top: 20px;
    background-image: url("../../../assets/img/bg-top.png");
    background-repeat: no-repeat;
    background-size: cover;

    img.logo{
        width: 220px;
        justify-self: center;
    }
    .subcard-18{
        right: 0;
        bottom: 0;
    }
    img.fondo{
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        width: 100%;
        height: 100%;
    }


}   

.section-content{
    display: grid;
    grid-area: section-content;
    padding: 20px;
    background-color: #fff;
}