<div class="temp-home">
    <div class="section-content">

        <div *ngIf="ctrl_menu == 0" class="content-main">
            <!-- ! FILTRO Y POPULARES ================================================ -->
            <div class="section-cont-populares">
                <div class="top">
                    <h4>Miembros populares</h4>

                </div>

                <div class="center">

                    <div class="content-img-popular">
                        <img src="../../../assets/img/user_example.jpg" alt="">
                    </div>

                    <div class="content-img-popular">
                        <img src="../../../assets/img/user_example.jpg" alt="">
                    </div>

                    <div class="content-img-popular">
                        <img src="../../../assets/img/user_example.jpg" alt="">
                    </div>

                    <div class="content-img-popular">
                        <img src="../../../assets/img/user_example.jpg" alt="">
                    </div>  
                    <button class="btn btn-filtro"><span class="icon icon-filtro"></span></button>
                </div>
            </div>

            <!-- ! FILTRO Y POPULARES ================================================ -->

            <div class="section-cont-anuncios" >

                <!-- !CARD  ANUNCIO============================= -->
                <div class="card-anuncio" (click)="OpenAnuncio(anuncio)" #card  *ngFor="let anuncio of anuncios.data" >

                    <div class="card-anuncio-img">
                        <img [src]="showImage(anuncio.urls)" alt="">
                    </div>

                    <div class="card-anuncio-info">
                        <div class="content-btn">
                            <button> <img src="../../../assets/img/anuncio_close.svg" alt=""> </button>
                            <button> <img src="../../../assets/img/anuncio_start.svg" alt=""> </button>
                            <button> <img src="../../../assets/img/anuncio_check.svg" alt=""> </button>
                        </div>
                        <div class="grid align-self-center justify-items-center gap-10">
                            <h2 class="font-500 "> {{anuncio.usuario.name}} </h2>
                            <h3> {{GetEdad(anuncio.usuario.fecha_nac)}}  años . {{anuncio.usuario.estado}}, {{anuncio.usuario.pais}} </h3>
                        </div>
                    </div>
                </div><!-- !FINCARD =============================   -->
            </div>

            <!-- ! MODAL DETALLE USUARIO ================================================ -->
            <div class="container" *ngIf="ctrl_modal_detalles">
                <div class="card card-anuncio-detalles">
                    <button (click)="ctrl_modal_detalles = false" class="btn-icon align-self-start justify-self-end" style="z-index: 2;"><i class="icon icon-close"></i></button>
                    
                    <div class="card-anuncio-detalles-body">
                        <div class="section-anuncio-detalles-img">
                            <img src="../../../assets/imagenes/user_example.jpg" alt="">
                        </div>
    
                        <div class="section-anuncio-detalles">
                            <div class="grid align-content-start gap-10">
                                <h1 class="font-600">Nataly Torres</h1>
                                <h3 class="text-alert">23 años • Sevilla, España</h3>
                            </div>

                            <div class="grid align-content-start gap-10">
                                <h4><span class="icon icon-mail"></span> natalytorres@gmail.com</h4>
                                <h4><span class="icon icon-phone font-500"></span> +34  984 572 496</h4>
                                <h4><span class="icon icon-brujula"></span> Busco: pareja</h4>
                            </div>

                            <p>Hola, seré directa. me gusta mucho las personas que son divertidas, que no necesitan que una excusa tonta para ligar. Si puedes ser esa persona dale like y conversamos! 😉</p>
                        
                            <div class="content-redes">
                                <button> <img src="../../../assets/imagenes/cont_phone.png" alt=""> </button>
                                <button> <img src="../../../assets/imagenes/cont_wts.png" alt=""> </button>
                                <button> <img src="../../../assets/imagenes/cont_sms.png" alt=""> </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            
        </div>


        <app-market class="content-main-market" *ngIf="ctrl_menu == 1"></app-market>

        <app-mensajes class="content-main-sms" *ngIf="ctrl_menu == 2"></app-mensajes>

        <app-notify class="content-main-notify" *ngIf="ctrl_menu == 3"></app-notify>

        <app-profile class="content-main-profile" *ngIf="ctrl_menu == 4"></app-profile>
    </div>

    <div class="section-menu">
            <button [class]="ctrl_menu == 0?'active':''" id="home" (click)="nav(0)" ><span class="icon icon-home"></span></button>
            <button [class]="ctrl_menu == 1?'active':''" id="store" (click)="nav(1)"><span class="icon icon-store"></span></button>
            <button [class]="ctrl_menu == 2?'active':''" id="message" (click)="nav(2)"><span class="icon icon-message" ></span></button>
            <button [class]="ctrl_menu == 3?'active':''" id="notificacion" (click)="nav(3)"><span class="icon icon-bell"></span></button>
            <button [class]="ctrl_menu == 4?'active':''" id="perfil" (click)="nav(4)"><span class="icon icon-profile"></span></button>
    </div>

</div>