<div *ngIf="display_market" class="temp-market">

    <div class="market-section-filtro">
        <div class="grid gc-2x-g">
            <h1 class="font-500">Market vip</h1>
            <button class="btn justify-self-end"> <span class="icon icon-filtro"></span> </button>
        </div>

        <div class="group-input-icon-left">
            <span class="icon icon-search"></span>
            <input type="text" placeholder="Buscar">
        </div>
    </div>

    <div class="market-section-destacados">
        <h5>NEGOCIOS DESTACADOS</h5>

        <div class="carousel">
            <div class="card-carousel">
                <h4>Sexy juguetes store</h4>
                <img src="../../../assets/img/anuncio_example.jpg" alt="">
            </div>

            <div class="card-carousel">
                <h4>Masajes Korina Spa</h4>
                <img src="../../../assets/img/anuncio_example2.jpg" alt="">
            </div>

            <div class="card-carousel">
                <h4>Hotel lujuria total</h4>
                <img src="../../../assets/img/anuncio_example3.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="market-section-categorias">
        <h5>CATEGORÍAS</h5>

        <div class="card-categorias">
            <h4>MASAJES ERÓTICOS</h4>
            <img src="../../../assets/img/categoria_example.jpg" alt="">
        </div>

        <div class="card-categorias">
            <h4>JUGUETES SEXUALES</h4>
            <img src="../../../assets/img/anuncio_example.jpg" alt="">
        </div>

        <div class="card-categorias">
            <h4>AGENCIA MATRIMONIAL</h4>
            <img src="../../../assets/img/categoria_example3.jpg" alt="">
        </div>

        <div class="card-categorias">
            <h4>ESPACIOS SEXUALES</h4>
            <img src="../../../assets/img/categoria_example4.jpg" alt="">
        </div>

    </div>

</div>

<div *ngIf="display_res" class="temp-res">
    <div class="header">
        <button class="btn" routerLink=".."> <span class="icon icon-chevron-left"></span> </button>
        <h3 class="font-500 justify-self-center">Masajes eróticos</h3>
    </div>

    <div class="body">
        <div class="group-input-icon-left">
            <span class="icon icon-search"></span>
            <input type="text" placeholder="Buscar">
        </div>

        <div class="section-negocio">
            <div class="img">
                <img src="../../../assets/img/anuncio_example.jpg" alt="">
            </div>

            <div class="content">
                <h3 class="font-600">Nombre del negocio</h3>

                <h4 class="font-600"> <span class="icon icon-location"></span> Sevilla </h4>
            </div>

            <div class="grid align-content-center">
                <button class="btn"><span class="icon icon-chevron-right"></span></button>
            </div>
        </div>

        <div class="section-negocio">
            <div class="img">
                <img src="../../../assets/img/anuncio_example.jpg" alt="">
            </div>

            <div class="content">
                <h3 class="font-600">Nombre del negocio</h3>

                <h4 class="font-600"> <span class="icon icon-location"></span> Sevilla </h4>
            </div>

            <div class="grid align-content-center">
                <button class="btn"><span class="icon icon-chevron-right"></span></button>
            </div>
        </div>
    </div>

</div>
