<div class="template-notify">
    <div class="grid ">
        <h1 class="font-600 text-black">Notificaciones</h1>
    </div>

    <div class="content-notify">

        <div class="card-notify">

            <div class="card-notify-img">
                <img src="../../../assets/img/pack-gold.png">
            </div>

            <div>
                <p>Prueba el Pack de anuncios Standard, el primer mes es gratis!</p>
            </div>

        </div>

        <div class="card-notify-sms">

            <div class="card-notify-img">
                <img src="../../../assets/img/user_example.jpg">
            </div>

            <div class="card-notify-content-sms">
                <p>Tienes un nuevo mensaje de Samuel Rodrigue asdasdasdasdasdz</p>
            </div>

            <div>
                <button class="btn-primary-inv">Ver mensaje</button>
            </div>

        </div>

        <div class="card-notify">

            <div class="card-notify-img">
                <img src="../../../assets/img/pack-gold.png">
            </div>

            <div>
                <p>Prueba el Pack de anuncios Standard, el primer mes es gratis!</p>
            </div>

        </div>

    </div>

</div>