<div class="temp-login" *ngIf="!displayRecovery">

    <div class="section-top">
        <div class="subcard-18">
            <h1 >+18</h1>
            <h5>MAYORES DE EDAD</h5>
        </div>
        <h1>Iniciar sesión</h1>
        <img class="fondo" src="../../../assets/img/bg-top.png" alt="">
    </div>

    <div class="section-content">
        <div>
            <div *ngIf="error == 1" class="card-danger flex-d-row gap-10">
                <span class="icon icon-circle-warning"></span>
                <p>No estás registrado. Crea una cuenta para poder comenzar en Ladies VIP.</p>
            </div>  

            <!-- * EMAIL -->
            <div class="form-group">
                <label for="">Email</label>
                <div class="group-input-icon-right">
                    <span class="icon icon-circle-close" *ngIf="error == 2"></span>
                    <input 
                        type="text" 
                        placeholder="Email"
                        [ngClass]="error==2?'input-error':''" 
                        [(ngModel)]="usuario.datos.correo" 
                        (keyup)="ValAcceso()" 
                        placeholder="Email"
                    >
                </div>
            </div>
    
            <!-- * CONTRASEÑA -->
            <div class="form-group">
                <label for="">Contraseña</label>
                
                <div class="group-input-icon-right">
                    <span class="icon" [ngClass]="viewPass?'icon-eyes':'icon-eyes-close'" (click)="tooglePass()" ></span>
                    <span class="icon icon-circle-close" *ngIf="error  == 2"></span>
                    <input 
                        type="password" 
                        id="password"
                        [(ngModel)]="usuario.datos.clave" 
                        (keyup)="ValAcceso()" 
                        placeholder="Ingresar una contraseña"
                        [ngClass]="error==2?'input-error':''"
                        maxlength="25"
                    >
                </div>
                <p class="text-error" *ngIf="error == 2">Las credenciales ingresadas son incorrectas</p>
            </div>

            <div class="checkbox-group">
                <input type="checkbox" checked="true" id="session-open">
                <label for="session-open"> Recordar Contraseña</label>
            </div>

            <button 
                class="btn-primary btn-block"
                [ngClass]="habLogin?'btn-primary':'btn-disable'"
                (click)="(!loading) && LogIn()"
            >
                Iniciar sesión <span *ngIf="loading" class="icon icon-loader"></span>
            </button>

            <button class="btn btn-recovery-pass" (click)="displayRecovery = true">Olvidé mi contraseña</button>
        </div>



        <div class="grid align-content-start gap-20">
            <div class="group-line-h">
                <div class="line-h"> </div>
                <h3>o iniciar sesión con</h3>
                <div class="line-h"> </div>
            </div>

            <div class="group-logins justify-content-center">
                <button class="btn-type-login" > <img src="../../../assets/img/Facebook.png" alt="">  </button>
                <button class="btn-type-login" > <img src="../../assets/img/Google.png" alt="">  </button>
                <button class="btn-type-login"  (click)="LoginSms()"> <img src="../../assets/img/Phone.png" alt="">  </button>
            </div>
        </div>
    </div>
</div>

<app-recoverypass *ngIf="displayRecovery"></app-recoverypass>